@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    line-height: 1.4;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
    min-height: 100vh;
    font-size: 1.6rem;
    color:#666;
}
.pimg1{
    background-image: url('image1.png');
    min-height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    background-attachment: fixed;
    /* background-attachment: fixed;  due to this background-image get fixed and
        we got parallxl effect. */

    position: relative;
}
.ptext1{
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: black;
    font-size: 27px;
    letter-spacing: 8px;
    text-transform: uppercase;
}
.bg1{
    background-color: #313534;
    color:#fff;
    padding: 20px;
}
.section1{
    padding: 50px 80px;
    text-align: center;
    background-color: #f4f4f4;
    color: #666;
}
.pimg2{
    background-image: url('image2.png');
    min-height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
}
.ptext2{
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: black;
    font-size: 27px;
    letter-spacing: 8px;
    text-transform: uppercase;
}
.section2{
    padding: 50px 80px;
    text-align: center;
    background-color: #282e34;
    color: #ddd;
}
.pimg3{
    background-image: url('image3.png');
    min-height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
}
.ptext3,.ptext4{
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: black;
    font-size: 27px;
    letter-spacing: 8px;
    text-transform: uppercase;
}